.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--bg-black);
    color: var(--text-white);
}

 .login > img{
    width: 100%;
 }

 .login > a{
    padding: 20px;
    border-radius: 99px;
    background-color: var(--secondary-color);
    font-weight: 880;
    color: var(--text-white);
    text-decoration: none;
 }