.sidebar{
    height: 100vh;
    flex: 0.2;
    color: rgb(255, 255, 255);
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    background-color: rgba(173, 19, 45, 0.692);
}

.sidebar__logo {
    margin-right: auto;
    object-fit: contain;
    height: 70px;
    padding: 10px;
  }

.sidebar__title {
    color: antiquewhite;
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }

.sidebar__title:hover{
  color: white;
}