:root {
    /* Primary Colors */
    --primary-color: #4cb4ff;
    --primary-color-light: #6bffe9;
    --primary-color-dark: #72e0ef;
    
    /* Secondary Colors */
    --secondary-color: #1db954;
    --secondary-color-light: #1ed760;
    
    /* Background Colors */
    --bg-black: black;
    --bg-white: white;
    --bg-transparent: transparent;
    
    /* Overlay Colors */
    --overlay-pink: rgba(182, 228, 255, 0.2);
    --overlay-pink-light: rgba(98, 162, 247, 0.3);/*this is translucent track list, like in the search page results*/
    --overlay-pink-dark: rgba(182, 228, 255, 0.4);
    --overlay-red: rgba(13, 233, 249, 0.311);
    --overlay-red-light: rgba(13, 151, 249, 0.594);
    --overlay-red-dark: rgba(13, 151, 249, 0.594);
    --overlay-white: rgba(255, 255, 255, 0.1);
    --overlay-white-light: rgba(255, 255, 255, 0.2);
    --overlay-white-dark: rgba(255, 255, 255, 0.3);
    --overlay-white-darker: rgba(255, 255, 255, 0.4);
    --overlay-black: rgba(0, 0, 0, 0.3);
    --overlay-black-light: rgba(0, 0, 0, 0.2);
    --overlay-black-dark: rgba(0, 0, 0, 0.5);
    
    /* Text Colors */
    --text-header: antiquewhite;
    --text-white: white;
    --text-white-transparent: rgba(172, 232, 241, 0.7);
    --text-white-transparent-light: rgba(255, 255, 255, 0.8);
    --text-white-transparent-dark: rgba(255, 255, 255, 0.9);
    --text-black: #000000;
    --text-black-transparent: rgba(0, 0, 0, 0.7);
    --text-gray: #b3b3b3;
    --text-gray-light: #ffffff;
    --text-gray-dark: #0a0a0a78;
    
    /* Gradients */
    --gradient-primary: linear-gradient(300deg, var(--primary-color), var(--primary-color-dark), var(--primary-color-light));
    --gradient-secondary: linear-gradient(300deg, #00bfff, var(--primary-color), var(--primary-color-dark));
    
    /* Sidebar Colors */
    --sidebar-red: rgba(45, 122, 210, 0.614);
    --sidebar-red-light: rgba(28, 144, 193, 0.692);
    --sidebar-red-dark: rgba(19, 142, 173, 0.8);
    
    /* Footer Colors */
    --footer-red: rgba(20, 130, 155, 0.619);
    
    /* Button Colors */
    --button-blue: #3287aede;
    --button-red: #ec2251;
}

/* Alternate theme variables */
:root.theme-alternate {
    /* Primary Colors */
    --primary-color: #ff4c68;
    --primary-color-light: #ff6b6b;
    --primary-color-dark: #ef8172;
    
    /* Secondary Colors */
    --secondary-color: #1db954;
    --secondary-color-light: #1ed760;
    
    /* Background Colors */
    --bg-black: black;
    --bg-white: white;
    --bg-transparent: transparent;
    
    /* Overlay Colors */
    --overlay-pink: rgba(255, 182, 193, 0.2);
    --overlay-pink-light: rgba(255, 182, 193, 0.3);
    --overlay-pink-dark: rgba(255, 182, 193, 0.4);
    --overlay-red: rgba(249, 13, 60, 0.311);
    --overlay-red-light: rgba(249, 13, 60, 0.594);
    --overlay-red-dark: rgba(239, 7, 61, 0.521);
    --overlay-white: rgba(255, 255, 255, 0.1);
    --overlay-white-light: rgba(255, 255, 255, 0.2);
    --overlay-white-dark: rgba(255, 255, 255, 0.3);
    --overlay-white-darker: rgba(255, 255, 255, 0.4);
    --overlay-black: rgba(0, 0, 0, 0.3);
    --overlay-black-light: rgba(0, 0, 0, 0.2);
    --overlay-black-dark: rgba(0, 0, 0, 0.5);
    
    /* Text Colors */
    --text-header: antiquewhite;
    --text-white: white;
    --text-white-transparent: rgba(249, 163, 163, 0.7);
    --text-white-transparent-light: rgba(255, 255, 255, 0.8);
    --text-white-transparent-dark: rgba(255, 255, 255, 0.9);
    --text-black: #000000;
    --text-black-transparent: rgba(0, 0, 0, 0.7);
    --text-gray: #b3b3b3;
    --text-gray-light: #ffffff;
    --text-gray-dark: #0a0a0a78;
    
    /* Gradients */
    --gradient-primary: linear-gradient(300deg, var(--primary-color), var(--primary-color-dark), var(--primary-color-light));
    --gradient-secondary: linear-gradient(300deg, #00bfff, var(--primary-color), var(--primary-color-dark));
    
    /* Sidebar Colors */
    --sidebar-red: rgba(228, 53, 82, 0.614);
    --sidebar-red-light: rgba(173, 19, 45, 0.692);
    --sidebar-red-dark: rgba(173, 19, 45, 0.8);
    
    /* Footer Colors */
    --footer-red: rgba(155, 20, 20, 0.619);
    
    /* Button Colors */
    --button-blue: #3287aede;
    --button-red: #ec2251;
}

/* Alternate theme 3 variables */
:root.theme-alternate3 {
    /* Primary Colors */
    --primary-color: #ffffff;
    --primary-color-light: #e0e0e0;
    --primary-color-dark: #bdbdbd;
    
    /* Secondary Colors */
    --secondary-color: #1db954;
    --secondary-color-light: #1ed760;
    
    /* Background Colors */
    --bg-black: #000000;
    --bg-white: #ffffff;
    --bg-transparent: transparent;
    
    /* Overlay Colors */
    --overlay-pink: rgba(255, 255, 255, 0.1);
    --overlay-pink-light: rgba(255, 255, 255, 0.15);
    --overlay-pink-dark: rgba(255, 255, 255, 0.2);
    --overlay-red: rgba(255, 255, 255, 0.1);
    --overlay-red-light: rgba(255, 255, 255, 0.15);
    --overlay-red-dark: rgba(255, 255, 255, 0.2);
    --overlay-white: rgba(255, 255, 255, 0.1);
    --overlay-white-light: rgba(255, 255, 255, 0.15);
    --overlay-white-dark: rgba(255, 255, 255, 0.2);
    --overlay-white-darker: rgba(255, 255, 255, 0.25);
    --overlay-black: rgba(0, 0, 0, 0.5);
    --overlay-black-light: rgba(0, 0, 0, 0.4);
    --overlay-black-dark: rgba(0, 0, 0, 0.6);
    
    /* Text Colors */
    --text-header: rgb(55, 51, 47);
    --text-white: #3f3939;
    --text-white-transparent: #cbcbcb;
    --text-white-transparent-light: #0a0808;
    --text-white-transparent-dark: #130f0f;
    --text-black: #000000;
    --text-black-transparent: #000000;
    --text-gray: #2d2b2b;
    --text-gray-light: #292424;
    --text-gray-dark: #111010;
    
    /* Gradients */
    --gradient-primary: linear-gradient(300deg, #ffffff, #e0e0e0, #bdbdbd);
    --gradient-secondary: linear-gradient(300deg, #bdbdbd, #e0e0e0, #ffffff);
    
    /* Sidebar Colors */
    --sidebar-red: rgba(255, 255, 255, 0.15);
    --sidebar-red-light: rgba(255, 255, 255, 0.2);
    --sidebar-red-dark: rgba(255, 255, 255, 0.25);
    
    /* Footer Colors */
    --footer-red: rgba(255, 255, 255, 0.15);
    
    /* Button Colors */
    --button-blue: #3287aede;
    --button-red: #ec2251;
}

/* Alternate theme 4 variables */
:root.theme-alternate4 {
    /* Primary Colors */
    --primary-color: #b388ff;
    --primary-color-light: #d1c4e9;
    --primary-color-dark: #7c4dff;
    
    /* Secondary Colors */
    --secondary-color: #1db954;
    --secondary-color-light: #1ed760;
    
    /* Background Colors */
    --bg-black: #000000;
    --bg-white: #ffffff;
    --bg-transparent: transparent;
    
    /* Overlay Colors */
    --overlay-pink: rgba(89, 43, 139, 0.562);
    --overlay-pink-light: rgba(0, 0, 0, 0.9);
    --overlay-pink-dark: rgba(0, 0, 0, 0.98);
    --overlay-red: rgba(0, 0, 0, 0.95);
    --overlay-red-light: rgba(0, 0, 0, 0.9);
    --overlay-red-dark: rgba(0, 0, 0, 0.98);
    --overlay-white: rgba(0, 0, 0, 0.95);
    --overlay-white-light: rgba(0, 0, 0, 0.9);
    --overlay-white-dark: rgba(0, 0, 0, 0.98);
    --overlay-white-darker: rgba(0, 0, 0, 0.99);
    --overlay-black: rgba(0, 0, 0, 0.95);
    --overlay-black-light: rgba(0, 0, 0, 0.9);
    --overlay-black-dark: rgba(0, 0, 0, 0.98);
    
    /* Text Colors */
    --text-header: antiquewhite;
    --text-white: #ffffff;
    --text-white-transparent: #d1a4e8;
    --text-white-transparent-light: #ffffff;
    --text-white-transparent-dark: #ffffff;
    --text-black: #e6e6e6;
    --text-black-transparent: #e7e4e4;
    --text-gray: #ffffff;
    --text-gray-light: #ffffff;
    --text-gray-dark: #ffffff;
    
    /* Gradients */
    --gradient-primary: linear-gradient(300deg, #000000, #000000, #000000);
    --gradient-secondary: linear-gradient(300deg, #000000, #000000, #000000);
    
    /* Sidebar Colors */
    --sidebar-red: rgba(179, 136, 255, 0.1);
    --sidebar-red-light: rgba(179, 136, 255, 0.15);
    --sidebar-red-dark: rgba(124, 77, 255, 0.2);
    
    /* Footer Colors */
    --footer-red: rgba(179, 136, 255, 0.1);
    
    /* Button Colors */
    --button-blue: #3287aede;
    --button-red: #ec2251;
} 